{% from 'utils.j2' import nav %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f74df82d77.js" crossorigin="anonymous"></script>
    <script>
      function checkData(theForm) {
        return true;
      }
    </script>

    <title>Fair Acres Contact List</title>
  </head>
  <body>
    <div class="container m-3">
      <h1 class="display-4">Fair Acres SMS - Residents</h1>
      <div>Logged in as: <span class="fw-bold">{{ session['user'] }}</span></div>
      <div class="row">
        <div class="col-12 border border-secondary">
          {{ nav(session['user'], session['admin']) }}
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <span class="text-secondary">List of Residents</span>
          <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <td>&nbsp;</td>
                <td scope="col">First Name</td>
                <td scope="col">Last Name</td>
                <td scope="col">Phone</td>
                <td scope="col">Email</td>
                <td scope="col">House</td>
                <td>&nbsp;</td>
              </tr>
            </thead>
            <tbody>
              {% for contact in contacts %}
              <tr>
                <td><a href="{{ url_for('edit', econt=contact.email) }}"><i class="fas fa-edit"></i></a></td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.house }}</td>
                <td><a href="{{ url_for('delcontact', econt=contact.email) }}"><i class="far fa-trash-alt"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <hr>
      </div>
      <div class="row">
        <span class="text-secondary">Add a New Resident</span>
      </div>
      <div class="row">
        <form class="col-8 p-3 border border-secondary" action="{{ url_for('contact') }}" onsubmit="return checkData(this)" method="POST">
          <div class="row">
            <div class="col-6">
              <div class="form-group my-2">
                <label for="txtFirst">First Name</label>
                <input class="form-control" type="text" id="txtFirst" name="txtFirst" placeholder="First Name" maxlength="20" required>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group my-2">
                <label for="txtLast">Last Name</label>
                <input class="form-control" type="text" id="txtLast" name="txtLast" placeholder="Last Name" maxlength="20" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group my-2">
                <label for="txtEmail">Email</label>
                <input class="form-control" type="email" id="txtEmail" name="txtEmail" placeholder="user@email.com" maxlength="20" required>
              </div>          
            </div>
            <div class="col-6">
              <div class="form-group my-2">
                <label for="txtPhone">Phone Number</label>
                <input class="form-control" type="tel" id="txtPhone" name="txtPhone" placeholder="2547000000" maxlength="20" required>
              </div>
            </div>                  
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group my-2">
                <button class="btn btn-primary" type="submit">SAVE CONTACT</button>
              </div>
            </div>
          </div> 
        </form>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
